#animation {
    background-image: url("/images/neutral_series.png");
    background-repeat: no-repeat;
    height: 514px;
    width: 2000px;
    margin-left: 10%;
    cursor: -webkit-grab;
}

body {
    font-family: 'Barrio', cursive;
    font-size: 130%;
}

h1 {
    text-align: center;
}

.wrapper {
    text-align: center;
    margin-top: 50px;
}

.button {
    font-size: 24px;
    padding: 12px 28px;
    background-color: #195de0;
    border: none;
    color: white;
    cursor: pointer;
}

#logo {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 40px;
}
