#animation {
    background-image: url("../images/series_of_dogs.png");
    background-repeat: no-repeat;
    height: 510px;
    width: 2000px;
}
#meAnimation {
	background-image: url("../images/me.gif");
    background-repeat: no-repeat;
    height: 510px;
    width: 2000px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #4CAF50;
    color: white;
}

li a:hover:not(.active) {
    background-color: #555;
    color: white;
}
